*{
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="file"],
button {
    margin-bottom: 10px;
    padding: 12px;
    width: calc(100% - 24px);
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

input[type="file"] {
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100%);
}

button:hover {
    background-color: #0056b3;
}

.button-edit {
    background-color: #ebee2b;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100%);
    height: 40px;
}

.button-edit:hover {
    background-color: #9fa110;
}

.button-delete {
    background-color: #db2424;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100%);
    height: 40px;
}

.button-delete:hover {
    background-color: #aa0b0b;
}

.button-show {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100%);
    height: 40px;
}

.button-show:hover {
    background-color: #0056b3;
}

.button-add {
    background-color: #18cc4e;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
}

.button-add:hover {
    background-color: #07862d;
}

.button-save {
    background-color: #18cc4e;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
}

.button-save:hover {
    background-color: #07862d;
}

.button-cancel {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-left: 10px;
}

.button-cancel:hover {
    background-color: #0056b3;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Cambia el ancho de las columnas según el tamaño de la pantalla */
    grid-gap: 20px; /* Espacio entre las tarjetas */
}

.product-card {
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.product-card img {
    width: 100%;
    height: 100px; /* Tamaño de imagen ajustado */
    object-fit: cover;
}

.product-details {
    padding: 10px;
    text-align: center;
}

.product-details h1 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.product-details p {
    margin-bottom: 10px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 500px;
}

textarea {
    margin-bottom: 10px;
    padding: 12px;
    width: calc(100% - 24px);
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    resize: vertical; /* Permite redimensionar verticalmente el textarea */
}
